.header-main-background {
  width: 100%;
  max-height: 1921px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3))), url(../img/hero-bg.png);
  background-image: linear-gradient(to top rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../img/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 314px;
  margin: 0 auto;
  gap: 120px;
  padding-top: 55px;
}

@media screen and (min-width: 1200px) {
  .header-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    gap: 30px;
    padding-top: 25px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.container {
  width: 314px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1450px;
  }
}
h5 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  overflow-clip-margin: content-box 0px;
}

a {
  text-decoration: none;
  cursor: default;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  list-style: none;
}

.header-logo {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  width: 130px;
}

@media screen and (min-width: 1200px) {
  .header-logo {
    position: absolute;
    top: 30px;
    left: 60px;
  }
}
.flower-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 1200px) {
  .flower-header {
    background-image: -webkit-gradient(linear, left top, right top, from(#E3535D), to(#2AA5A0));
    background-image: linear-gradient(90deg, #E3535D, #2AA5A0);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 20px;
    gap: 40px;
  }
}
.flower-logo-div::before {
  position: absolute;
  bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  background-image: url(../img/flower-logo.svg);
  width: 49px;
  height: 49px;
}

@media screen and (min-width: 1200px) {
  .flower-logo-div::before {
    position: absolute;
    top: 17px;
    left: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    background-image: url(../img/flower-logo.svg);
    width: 49px;
    height: 49px;
  }
}
.header-li > a {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
}

.header-ul {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
.hero-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 58px;
  line-height: 63px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  width: 130px;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 120px;
    line-height: 130px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    margin-top: 200px;
  }
}
.hero-button {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  border: none;
  background-color: #DD2242;
  border-radius: 50px;
  padding: 20px 91px;
  margin-bottom: 40px;
}
.hero-button > a {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  text-transform: none;
}

@media screen and (min-width: 1200px) {
  .hero-button {
    margin-bottom: 10px;
    padding: 25px 60px;
  }
  .hero-button > a {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    text-transform: none;
  }
}
.hero-li-num {
  margin-top: 40px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #DD2242;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  margin-top: 35px;
}

.hero-li-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 26px;
  line-height: 41px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 0px;
}

.hero-li-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #939393;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  margin: 0;
  width: 211px;
}

.hero-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .hero-ul {
    margin-bottom: 0;
    margin-top: 230px;
    padding-left: 75px;
    padding-bottom: 30px;
    padding-right: 144px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 200px;
  }
}
.hero-video {
  width: 314px;
  height: 191px;
}

@media screen and (min-width: 1200px) {
  .hero-video {
    width: 417px;
    height: 254px;
    margin-bottom: 0;
    margin-top: 190px;
  }
}
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle > svg {
  fill: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
  #mobile-menu {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #DD2242;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu-el {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  padding-bottom: 300px;
}

.link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  text-transform: uppercase;
}

.link:hover {
  color: #939393;
  cursor: pointer;
}

.mobile-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  padding-bottom: 65px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 20px;
}

.hills-section {
  margin: 0 auto;
  display: block;
  width: 315px;
  max-height: 740px;
}
.hills-section > h3 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}
.hills-section > p {
  padding: 25px 0;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #939393;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}
.hills-section > button {
  position: relative;
  z-index: 99;
  background-color: #DD2242;
  border: none;
  border-radius: 30px;
  padding: 22px 108px;
}
.hills-section > button > a {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}

@media screen and (min-width: 1200px) {
  .hills-section {
    margin-top: 200px;
    margin-left: 11%;
    display: block;
    width: 614px;
    max-height: 740px;
  }
  .hills-section > h3 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    text-transform: none;
  }
  .hills-section > p {
    margin: 0 auto;
    width: 470px;
    padding: 10px 0;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #939393;
    text-decoration: none;
    text-align: center;
    text-transform: none;
  }
  .hills-section > button {
    position: relative;
    z-index: 99;
    left: 34%;
    background-color: #DD2242;
    border: none;
    border-radius: 30px;
    padding: 15px 50px;
    margin-top: 25px;
  }
  .hills-section > button > a {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    text-transform: none;
  }
}
.waves-top {
  margin-bottom: -180px;
}

@media screen and (min-width: 1200px) {
  .waves-top {
    display: none;
  }
}
.waves-bot {
  margin-top: -150px;
}

@media screen and (min-width: 1200px) {
  .waves-bot {
    display: none;
  }
}
.hills-section-overflow > img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .hills-section-overflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hills-section-overflow > img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.video-section-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 40, 90, 0.4)), to(rgba(0, 0, 0, 0.7))), url(../img/video-section-bg.jpg);
  background-image: linear-gradient(rgba(20, 40, 90, 0.4), rgba(0, 0, 0, 0.7)), url(../img/video-section-bg.jpg);
  background-position: 30%;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 1200px) {
  .video-section-bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 40, 90, 0.4)), to(rgba(0, 0, 0, 0.7))), url(../img/video-section-bg.jpg);
    background-image: linear-gradient(rgba(20, 40, 90, 0.4), rgba(0, 0, 0, 0.7)), url(../img/video-section-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.video-section-div {
  display: block;
  margin: 0 auto;
  width: 315px;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 1200px) {
  .video-section-div {
    display: block;
    width: auto;
  }
}
.video-section-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  width: 260px;
  margin: 0 auto;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .video-section-title {
    width: 875px;
  }
}
.video-section-video {
  margin: 0 auto;
  width: 314px;
  height: 192px;
  margin-top: 50px;
}

@media screen and (min-width: 1200px) {
  .video-section-video {
    margin-left: 27%;
    width: 1056px;
    height: 594px;
  }
}
.mini-video-ul {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

@media screen and (min-width: 1200px) {
  .mini-video-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    margin-left: 24%;
  }
}
.mini-video-ul-el {
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
}
.mini-video-ul-el > video {
  margin-bottom: 20px;
  width: 320px;
  height: 176px;
}

@media screen and (min-width: 1200px) {
  .mini-video-ul-el {
    margin: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
  .mini-video-ul-el > video {
    width: 230px;
    height: 151px;
  }
}
.mini-video-div {
  width: 300px;
  display: block;
}
.mini-video-div > h5 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}
.mini-video-div > p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #939393;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}

@media screen and (min-width: 1200px) {
  .mini-video-div {
    width: 347px;
    display: block;
    padding-bottom: 100px;
  }
  .mini-video-div > h5 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    text-transform: none;
  }
  .mini-video-div > p {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #939393;
    text-decoration: none;
    text-align: left;
    text-transform: none;
  }
}/*# sourceMappingURL=style.css.map */