.sec-1{
    background-color:$dark-bg;
    // line-height: 0;
}
.container{
    width: 315px;
    margin: 0 auto;
}
@media screen and (min-width:1200px){
    .container{
        width: 1122px;
    }
}
@media screen and (min-width:1920px){
    .container{
        width: 1280px;
    }
}
.activities{
    padding: 41px 0 47px;
&:first-child{
    background-image:linear-gradient(
        to top
        rgba(1, 10, 32, 90%),
        rgba(1, 10, 32, 90%)),
    url(/img/mountains@2x.png);
    background-repeat: no-repeat;
    background-size: 520px cover ;
    background-position:top center;
    
}
&:nth-child(2){
    background-image:
    linear-gradient(
        to bottom
        rgba(1, 10, 32, 90%),
        rgba(1, 10, 32, 90%)),
    url(/img/beach@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
 & .container{
  & .activities-el{
    flex-direction: row-reverse;
  }
}
}
}
@media screen and (min-width:1200px){
.activities{
    &:first-child{
        background-image:linear-gradient(
            rgba(1, 10, 32, 85%),
            rgba(1, 10, 32, 100%)),
        url(/img/mountains@3x.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 30%;
    }
    &:nth-child(2){
        background-image:
        linear-gradient(
            rgba(1, 10, 32, 100%),
            rgba(1, 10, 32, 85%)),
        url(/img/beach@3x.png);
        background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 70%;
    }
}
}
.activities-el{
&:first-child{
    margin-bottom: 56px;
}}
@media screen and (min-width:1200px){
    .activities-el{
        display: flex;
        gap: 130px;
        align-items: center;
    }
}
@media screen and (min-width:1920px){
    .activities-el{
& img{
    width: 630px;
    height: 460px;
    object-fit: cover
}
    }
}
.activ-text{
&_h2{
    @include fonts();
    color: $white-col;
    margin: 20px 0; 
}
&_p{
    @include fonts($size:16px, $weight:400);
    color: $soft-text;
    line-height: 24px;
    margin-bottom: 35px;
}
&_btn{
    @extend %btn-styles;
    width: 314px;
    height: 72px;
    padding: 22px auto;
}
}
@media screen and (min-width:1200px) {
    .activ-text{
         width:479px;
&_h2{
    @include fonts($size:42px)
}
&_p{
    @include fonts($size:18px);
    line-height:30px;
    width:409px;
}
&_btn{
    @extend %btn-styles;
    width:180px;
    height: 60px;
    padding:0;
}
    }

}