%dmSans-700{
    font-family: "DM Sans", serif;
    font-weight: 700 !important;
    font-style: normal;
    font-optical-sizing: auto;
}
%dmSans-400{
    font-family: "DM Sans", serif;
    font-weight: 400 !important;
    font-style: normal;
    font-optical-sizing: auto;
}