@mixin txt($font-f, $font-w, $font-s,$txt-transform, $line-h, $color, $txt-decor:none, $txt-align:left){
    font-family: $font-f;
    font-weight:  $font-w;
    font-size: $font-s;
    line-height:  $line-h;
    color: $color;
    text-decoration: $txt-decor;
    text-align: $txt-align;
    text-transform: $txt-transform;
}